{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
  content %}
  <style>
    .h1d{
       color:rgb(101, 101, 107);
         display:inline;
          margin:auto;
    }
  </style>
  <body style="background-image: url('https://c1.wallpaperflare.com/preview/150/794/327/film-35mm-vintage-projector.jpg');
  background-repeat: no-repeat; 
  background-attachment: scroll;
  background-size: cover;">
  <form method="POST" style="width:30vw; margin:auto; border-style:solid ; border-color: rgba(255, 255, 255, 0.021); background-color: rgba(250, 235, 215, 0.459); box-shadow: 10px 10px 10px px rgb(172, 192, 197);">
    <center>
    <h1  class="h1d">SIGN UP</h1>
  </center>
    <div class="form-group">
      <label for="email" style="color:rgb(114, 110, 110)"; ><b>Email Address</b></label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="firstName" style="color:rgb(114, 110, 110)"><b>First Name</b></label>
      <input
        type="text"
        class="form-control"
        id="firstName"
        name="firstName"
        placeholder="Enter first name">
    </div>
    <div class="form-group">
      <label for="password1" style="color:rgb(114, 110, 110)"><b>Password</b></label>
      <input
        type="password"
        class="form-control"
        id="password1"
        name="password1"
        placeholder="Enter password">
    </div>
    <div class="form-group">
      <label for="password2" style="color:rgb(63, 61, 61)"><b>Confirm password</b></label>
      <input
        type="password"
        class="form-control"
        id="password2"
        name="password2"
        placeholder="Confirm password">
    </div>
    <br>
    <center>
    <button type="submit" class="btn btn-primary">Submit</button>
  </center>
  </form>
  </body>
  {% endblock %}